<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <header>
            <h1 class="title"><strong>Welcome to Wiki</strong> </h1>
            <p class="description">This webpage is like Wikipedia, a place where all of us can add or modify content.
            </p>
        </header>
        <div class="logoImg">
            <a href="{% url 'wiki:home_page' %}"><img class="logo" src="{% static 'img/logo.jpg' %}"
                    alt="wikipedia logo"></a>
        </div>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <aside>
            <form method="GET" action="{% url 'wiki:search' %}">
                {% csrf_token %}
                <input type="search" placeholder="Search Wiki Pages" name="search" class="search">
                <button class="searchBtn" type="submit">PUSH</button>
            </form>
            <div class="sideBarLinks">
                <a href="{% url 'wiki:home_page' %}">Home Page</a>
                <a href="{% url 'wiki:new_page' %}">Create New Page</a>
                <a href="{% url 'wiki:random' %}">Random Page</a>
            </div>
        </aside>
        <footer>
            <h3>You can find me</h3>
            <span>| | Email: norbi_vis@yahoo.com |</span>
            <span>| GitHub: https://github.com/NorbiVis | |</span>
        </footer>
    </div>
</body>

</html>