{% extends 'auction/layout.html' %}
{% block head %}
<title>Register</title>
{% endblock %}

{% block main %}
<div class="registerContainer">
    <form class="formContainer" action="" method="POST">
        {% csrf_token %}
        <div class="formDiv">
            {{ form.username }}
            <label class="registerLabel" for="usename">Username</label>

        </div>
        <div class="formDiv">
            {{ form.password_one }}
            <label class="registerLabel" for="password_one">Password</label>

        </div>
        <button class="registerButton" type="submit">Login</button>
    </form>
</div>
{% endblock %}